.Modal{
    background-color: #9DC183;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.Modals{
    text-align: center;
    margin-left: 40%;
    margin-right: 15%;
    margin-bottom: 3%;
}