.Module {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 16 / 9;
  width: 100%;
  background-color: #E0C2A5;
}

.Module-title,
.Module-description {
  color: black;
}

.Module h1,
.Module p {
  max-width: 48rem;
  margin: inherit auto;
}
